.commentCard{
    border: solid lightgrey 1px;

}

.repliesIn{
    border: none;
    background-color: inherit;
    width: 100%;
    color: lightgrey;
}

.repliesIn:focus{
    outline: none;
}

.repliesIn+button{
    display: none;
}

.repliesIn:focus+button{
    display: block;
}
