.commentCard {
    border: solid rgb(44, 46, 60) 1px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
    background-color: #20212E;
    margin-bottom: 20px;
    border-radius: 10px;
}

.reply>p,
.commentCard>div>p {
    padding: 10px;
    margin: 0;
}

.commHead {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10px;
}

.commHead>p {
    margin: 0;
}

.reply {
    width: 100%;
    border-top: solid rgb(44, 46, 60) 1px;
}

.repliesIn {
    border: none;
    background-color: inherit;
    width: 100%;
    font-family: "Gordita", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    resize: none;
}

.repliesIn:focus {
    outline: none;
}

.repliesIn1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    border-top: solid rgb(44, 46, 60) 1px;
}

/*
.repliesIn+div{
    display: none;
}

.repliesIn:focus+div{
    display: flex;
} */

.replyAct {
    width: 100%;
    justify-content: flex-end;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.error {
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

#repEdit {
    border-top: none;
}

.commHead>div {
    display: none;
}

.reply:hover>div>div {
    display: block;
}

.commMain:hover>div>div {
    display: block;
}

.reply:hover>.userReply {
    padding: 10px 10px;
}

.commMain:hover>.notEditing {
    padding: 10px 10px;
}

.commCardButton {
    width: fit-content;
    height: fit-content;
    background-image: linear-gradient(92.88deg, rgb(55, 75, 145) 9.16%, rgb(57, 41, 153) 43.89%, rgb(66, 33, 157) 64.72%);
    border: none;
    padding: 10px;
    padding-bottom: 9px;
    color: white;
    border-radius: 20px;
    margin-left: 10px;
}

.commCardButton:hover{
    cursor: pointer;
}