.IssueCard{
    border: solid rgb(44, 46, 60) 1px;
    box-shadow: rgba(0, 0, 0, 0.098) 0px 2px 4px;
    background-color: #20212E;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
}

.IssueCard:hover{
    cursor: pointer;
    background-color: #262838;
}

.issCardPs{
    display: flex;
    justify-content: space-between;
}


.issCardId,.issCardProj,.issCardTtl,.issCardPri{
    margin: 5px;
}

.issCardPs>p{
    background-color: inherit;
    padding: 5px;
    border: solid rgb(95, 98, 129) 1px;
    border-radius: 7px;
    font-size: small;
}

.issCardId{
    font-size: small;
}

.issCardTtl{
    font-size: large;
    max-width: 370px;
    height: 42px;
    overflow: hidden;
    overflow-wrap: break-word;
    /* text-overflow: ellipsis; */
}
