/* TODO Add site wide styles */
#BarPageContainer {
    display: flex;
    width: 98vw;
    height: 98vh;
    /* border: 1px solid blue; */
}

/* TODO Add site wide styles */
/* img {
    aspect-ratio: 3/2;
    max-height: 300px;
} */

body {
    background-color: #191A23;
    color: white;
}

html {
    font-family: "Gordita", Helvetica, Arial, Verdana, sans-serif;
}

#modal-content {
    background-color: #191A23;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* border: white solid 2px; */
    border-radius: 20px;
}

#modal-content>form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-content>form>input {
    background-color: rgb(24, 26, 27);
    border-radius: 5px;
    color: lightgrey;
    margin: 5px;
    border: lightgrey 2px solid;
    padding: 10px;
    padding-right: 150px;
    font-family: 'Belanosima', serif;
    font-size: large;
}

#modal-content>form>button,
#modal-content>button {
    font-size: large;
    background-image: linear-gradient(92.88deg, rgb(55, 75, 145) 9.16%, rgb(57, 41, 153) 43.89%, rgb(66, 33, 157) 64.72%);
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
}

#modal-content>#noDelete {
    background-color: grey;
}

#modal-content>form>button:hover,
#modal-content>button:hover {
    cursor: pointer;
}

#modal-content>form>button:disabled,
#modal-content>button:disabled {
    background-color: grey;
}

#modal-content>#demoButton:hover {
    cursor: pointer;
}
